.app__defoult {
  font-family: 'Montserrat';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 400;
  
}

.app__pink-theme {
  background-color: rgb(234, 230, 230);
}

.app__dark-blue-theme {
  background-color: rgba(45, 47, 46, 0.9);
}

@media screen and (max-width: 600px) {
  .app__defoult {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.app__title {
  color:rgb(105, 193, 243);
  font-size: 2em;
  font-weight: 500;
  margin: 0;
  justify-content: center;
  align-self: center;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .app__title {
    font-size: 20px;
  }
}

.app__button {
  border-radius: 15px;
  border: none;
  color: rgb(105, 193, 243);
  background-color: transparent;
  border: 3px solid rgb(105, 193, 243);
  height: 30px;
  min-width: 100px;
  cursor: pointer;
  font-weight: 400px;
  font-size: 14px;
  transition: transform linear 0.3s;
  justify-content: center;
  align-self: center;
}

@media screen and (max-width: 450px) {
  .app__button {
    font-size: 12px;
  }
}

.app__button:hover {
  transform: scale(1.05);
  transition: transform linear 0.3s;
}

@media screen and (max-width: 500px) {
  .app__button {
    min-height: 30px;
    min-width: 100px;
  }
}

.app__congratulations {
  color:rgb(105, 193, 243);
  font-size: 5em;
}

.app__change-theme-btn {
  border: none;
  background-color: transparent;
  color:rgb(105, 193, 243);
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 14px;
}

@media screen and (max-width: 500px) {
  .app__change-theme-btn {
    margin-bottom: 5px;
    font-size: 12px;
  }
}

.app__change-theme-btn:hover{
  opacity: 0.5;
}

.app__btn-container {
  display: flex;
  justify-content: center;
}

.app__title-btn-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-top: 25px;
}